
<footer class="style-2">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-5">
          <div class="col-xl-4 col-lg-8 col-md-12">
            <div class="footer-item">
              <h5>Get In Touch</h5>
              <p>Connect with us on social media to know more updates regarding businesses & investors.</p>
              <ul class="footer-social gap-3">
                <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="#"><i class='bx bxl-pinterest-alt'></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 d-flex justify-content-xl-center">
            <div class="footer-item">
              <h5>Importants links</h5>
              <ul class="footer-list">
                <li><a href="">About us</a></li>
                <li><a href="">Browse Business</a></li>
                <li><a href="">Browse Investors</a></li>
                <li><a href="">Sign In</a></li>
                <li><a href="">Sign Out</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-8 col-md-12">
            <div class="footer-item">
              <a href="index.html"><img alt="image" src="assets/images/invest.png" width="200px" height="100px"></a>
              <ul class="address-list">
                <li><a href="#">Pune Maharashtra</a></li>
                <li><a href="tel:">Phone: +91 9876543210</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex align-items-center g-4">
          <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
            <p>Copyright 2022 <a href="">BEINVEST</a> | Design By <a
                class="egns-lab">Shreya</a></p>
          </div>
          
        </div>
      </div>
    </div>
  </footer>