
<div class="sponsor-section style-2 ">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
          <div class="section-title1">
            <h2>Trusted By 500+ Businesses.</h2>
            <p class="mb-0">Explore on the world's best & largest Bidding marketplace with our beautiful Bidding
              products. We want to be a part of your smile, success and future growth.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="slick-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.3s"
          style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div id="slick1" class="slick-initialized slick-slider slick-dotted">
            <div class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 7514px; transform: translate3d(-1326px, 0px, 0px);">
                <div class="slick-slide slick-cloned" data-slick-index="-6" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor2.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                  role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor2.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" role="tabpanel"
                  id="slick-slide01" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor4.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel"
                  id="slick-slide02" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" role="tabpanel"
                  id="slick-slide03" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" role="tabpanel"
                  id="slick-slide04" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" role="tabpanel"
                  id="slick-slide05" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide06" aria-describedby="slick-slide-control01" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide07" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide08" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor2.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="9" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide09" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="10" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide010" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide011" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="12" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide012" aria-describedby="slick-slide-control02" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="13" aria-hidden="true" tabindex="-1" role="tabpanel"
                  id="slick-slide013" style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor2.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor4.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="18" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="20" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="21" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="22" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor2.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="23" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="24" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor9.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor1.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="25" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor3.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor5.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="26" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor6.png"></div>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="27" id="" aria-hidden="true" tabindex="-1"
                  style="width: 221px;">
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor7.png"></div>
                  </div>
                  <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;"><img alt="image"
                        src="assets/images/bg/sponsor8.png"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>