<div class="live-auction-section pt-120 pb-120">
    <img alt="image" src="assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="image" src="assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="container">
        <div class="row gy-4 mb-60 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-10 ">
                <div class="eg-card auction-card1 fadeInDown">
                    <div class="auction-img">
                        <img alt="image" src="https://st.depositphotos.com/1269204/1219/i/600/depositphotos_12196477-stock-photo-smiling-men-isolated-on-the.jpg">
                        <div class="author-area">
                            <div class="author-emo">
                                <img alt="image" src="assets/images/icons/smile-emo.svg">
                            </div>
                            <div class="author-name">
                                <span>John Doe</span>
                            </div>
                        </div>
                    </div>
                    <div class="auction-content">
                        <h4><a href="auction-details.html">Shree Niwas</a></h4>
                        <p>CEO & Co-founder of Mama Earth</p>
                        <div class="auction-card-bttm">
                            <a href="" class="eg-btn btn--primary2 btn--sm">Investing 5000 Crores </a>
                            <div class="share-area">
                                <ul class="social-icons d-flex">
                                    <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                                    <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest"></i></a></li>
                                    <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
                                </ul>
                                <div>
                                    <a href="#" class="share-btn"><i class='bx bxs-share-alt'></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <nav class="pagination-wrap">
                <ul class="pagination d-flex justify-content-center gap-md-3 gap-2">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">01</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">02</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>